.cont-jumbo {
    position: relative;

    .jumbo {
        height: 400px;

        img {
            width: 100%;
            max-height: 100%;
            object-fit: cover;
            object-position: top;

        }
    }

    h3 {
        color: white;
        background-color: $light_blue;
        font-size: 18px;
        font-weight: 600;
        padding: 10px 15px;
        position: absolute;
        left: 18%;
        bottom: -20px;
    }
}